@model MVC.ViewModels.HistoricoViewModel
<main>
<br>
<br>
<br>
<br>
        <div id="user">
            <p>
                <img src="~/img/usuario.png" alt="" style="width: 200px; height: 200px">
            </p>
            <p id="p2">
                @Model.UsuarioNome
            </p>
        </div>
<br>
<br>
<br>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Meus eventos</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Agendar evento / orçamento</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Informações pessoais</button>
        </div>
        
        <div id="London" class="tabcontent">
            <h3>Meus eventos</h3>
<br>
<br>
        @foreach(var evento in Model.Eventos) {
                <tr>
                    <td>@evento.DataDoEvento</td>
                    <td>@evento.Adicional.Nome</td>
                    <td>@evento.Adicional.Preco</td>
                    <td>@evento.PrecoTotal</td>
                </tr>
            }
        </div>
        
        <div id="Paris" class="tabcontent">
            <h3>Agendar evento</h3>
<br>
        <div class="row">
            <div class="col-75">
                <div class="container">
                <form action="pagamento.html">
                
                    <div class="row">
                    <div class="col-50">
                        <label for="tipo-evento"><i class="fa fa-glass"></i> Tipo de evento</label>
                        <select id="tipo-evento" name="tipo-evento">
                            <option value="social">Social</option>
                            <option value="casamento">Casamento</option>
                            <option value="universitário">Universitário</option>
                            <option value="corporativo">Corporativo</option>
                        </select>
                        <label for="numero-pessoas"><i class="fa fa-user"></i>Número máximo de pessoas</label>
                        <input type="number" id="numero-pessoas" name="numero-pessoas" placeholder="Número">

                        <label for="adicionais"><i class="fa fa-plus"></i> Serviços adicionais</label>
                        <select>
                            <option value="">Selecione</option>
                            @foreach(var adicional in Model.Adicionais)
                                {
                                    <option value=@adicional.Nome>@adicional.Nome por @adicional.Preco</option>
                                }
                        </select>

                        <label for="descriçao"><i class="fa fa-comment"></i> Descrição do evento e data</label>
                        <input type="text" id="descriçao" name="descriçao" placeholder="Conte-nos mais (data necessária)">
                    </div>

                    <div class="col-50">
                        <h3>Pagamento</h3>
                        <label for="fname">Cartões aceitos</label>
                        <div class="icon-container">
                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="cname">Nome como está no cartão</label>
                        <input type="text" id="cname" name="cardname" placeholder="Jeferson Silva">
                        <label for="ccnum">Número do cartão</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Validade</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="0x/1x"> 
                        </div>
                    
                    </div>
                    <input type="submit" value="Realizar pedido" class="btn">
                </form>
                </div>
            </div>
            <div class="col-25">
                <div class="container">
                <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
                <p><a href="#">Universitário</a> <span class="price">$10k</span></p>
                <p><a href="#">250 pessoas</a> <span class="price">$1k</span></p>
                <p><a href="#">Luz + Som</a> <span class="price">$400</span></p>
                <hr>
                <p>Total <span class="price" style="color:black"><b>$11.400</b></span></p>
                </div>
            </div>
            </div> 
        </div>
        
        <div id="Tokyo" class="tabcontent">
        <h3>Informações pessoais</h3>
        <br>
        <br>
        <p>DADOS DO USUÁRIO</p>
        </div>
<br>
<br>
<br>
<hr>
</main>